.container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.example-card {
  flex-grow: 1;
  max-width: 700px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-content {
  display: flex;
  justify-content: space-around;
}

.square {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  text-align: center;
}
